/* SUN BEHIND CLOUD */

.climacon_componentWrap-sun_cloud {
      -webkit-animation-name:behindCloudMove,rotate;
      -moz-animation-name:behindCloudMove,rotate;
      -o-animation-name:behindCloudMove,rotate;
      animation-name:behindCloudMove,rotate;
      -webkit-animation-iteration-count:1,infinite;
      -moz-animation-iteration-count:1,infinite;
      -o-animation-iteration-count:1,infinite;
      animation-iteration-count:1,infinite;
      -webkit-animation-timing-function:ease-out,linear;
      -moz-animation-timing-function:ease-out,linear;
      -o-animation-timing-function:ease-out,linear;
      animation-timing-function:ease-out,linear;
      -webkit-animation-delay:0,3s;
      -moz-animation-delay:0,3s;
      -o-animation-delay:0,3s;
      animation-delay:0,3s;
      -webkit-animation-duration:3s,12s;
      -moz-animation-duration:3s,12s;
      -o-animation-duration:3s,12s;
      animation-duration:3s,12s
}

.climacon_component-stroke_sunSpoke {
      fill-opacity:0;
      -webkit-animation-name:fillOpacity,scale;
      -moz-animation-name:fillOpacity,scale;
      -o-animation-name:fillOpacity,scale;
      animation-name:fillOpacity,scale;
      -webkit-animation-direction:alternate;
      -moz-animation-direction:alternate;
      -o-animation-direction:alternate;
      animation-direction:alternate;
      -webkit-animation-iteration-count:1,infinite;
      -moz-animation-iteration-count:1,infinite;
      -o-animation-iteration-count:1,infinite;
      animation-iteration-count:1,infinite;
      -webkit-animation-delay:3s,0;
      -moz-animation-delay:3s,0;
      -o-animation-delay:3s,0;
      animation-delay:3s,0;
      -webkit-animation-duration:3s;
      -moz-animation-duration:3s;
      -o-animation-duration:3s;
      animation-duration:3s;
      -webkit-animation-fill-mode:both;
      -moz-animation-fill-mode:both;
      -o-animation-fill-mode:both;
      animation-fill-mode:both
}

.climacon_component-stroke_sunSpoke:nth-child(even) {
      -webkit-animation-delay:3s;
      -moz-animation-delay:3s;
      -o-animation-delay:3s;
      animation-delay:3s
}

@-webkit-keyframes rotate {
      0% {
            -webkit-transform:rotate(0)
      }

      100% {
            -webkit-transform:rotate(360deg)
      }
}

@-moz-keyframes rotate {
      0% {
            -moz-transform:rotate(0)
      }

      100% {
            -moz-transform:rotate(360deg)
      }
}

@-o-keyframes rotate {
      0% {
            -o-transform:rotate(0)
      }

      100% {
            -o-transform:rotate(360deg)
      }
}

@keyframes rotate {
      0% {
            transform:rotate(0)
      }

      100% {
            transform:rotate(360deg)
      }
}

@-webkit-keyframes scale {
      0% {
            -webkit-transform:scale(1,1)
      }

      100% {
            -webkit-transform:scale(.5,.5)
      }
}

@-moz-keyframes scale {
      0% {
            -moz-transform:scale(1,1)
      }

      100% {
            -moz-transform:scale(.5,.5)
      }
}

@-o-keyframes scale {
      0% {
            -o-transform:scale(1,1)
      }

      100% {
            -o-transform:scale(.5,.5)
      }
}

@keyframes scale {
      0% {
            transform:scale(1,1)
      }

      100% {
            transform:scale(.5,.5)
      }
}

@-webkit-keyframes behindCloudMove {
      0% {
            -webkit-transform:translateX(-1.75px) translateY(1.75px)
      }

      100% {
            -webkit-transform:translateX(0) translateY(0)
      }
}

@-moz-keyframes behindCloudMove {
      0% {
            -moz-transform:translateX(-1.75px) translateY(1.75px)
      }

      100% {
            -moz-transform:translateX(0) translateY(0)
      }
}

@-o-keyframes behindCloudMove {
      0% {
            -o-transform:translateX(-1.75px) translateY(1.75px)
      }

      100% {
            -o-transform:translateX(0) translateY(0)
      }
}

@keyframes behindCloudMove {
      0% {
            transform:translateX(-1.75px) translateY(1.75px)
      }

      100% {
            transform:translateX(0) translateY(0)
      }
}

@-webkit-keyframes fillOpacity {
      0% {
            fill-opacity:0;
            stroke-opacity:0
      }

      100% {
            fill-opacity:1;
            stroke-opacity:1
      }
}

@-moz-keyframes fillOpacity {
      0% {
            fill-opacity:0;
            stroke-opacity:0
      }

      100% {
            fill-opacity:1;
            stroke-opacity:1
      }
}

@-o-keyframes fillOpacity {
      0% {
            fill-opacity:0;
            stroke-opacity:0
      }

      100% {
            fill-opacity:1;
            stroke-opacity:1
      }
}

@keyframes fillOpacity {
      0% {
            fill-opacity:0;
            stroke-opacity:0
      }

      100% {
            fill-opacity:1;
            stroke-opacity:1
      }
}
